/* CSS for form label */
.form-label {
    width: 35vw;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: left;
    font-size: 1.1rem;
    font-weight: lighter;
    color: #385067;
}

/* CSS for form input */
.form-input {
    width: 100%;
    background: #8B9AA0;
    border: none;
    border-bottom: 0.03rem solid #253443;
    color: #385067;
}

input:active,
:focus {
    outline: none;
}

/* CSS for help blocks */
.help {
    font-size: 0.7rem;
    float: left;
}

/* CSS for error message */
.is-danger {
    color: #8c0505;
}

@media only screen and (max-width:600px) {
    .form-label {
        width: 100%;
    }
}