<article class="container" #mainContainer>
    <div class="experience-details">
        <div class="timeline-container" #timelineContainer>
            <span #startMonth>Oct'20</span>
            <div class="ends top" #topEnd></div>
            <div class="timeline" #timelinePipe></div>
            <div class="ends bottom" #bottomEnd></div>
            <span #endMonth>Dec'20</span>
        </div>
        <div class="experience top">
            <div class="exp-title">Java Developer Intern</div>
            <div class="exp-company">Hitachi India Pvt Ltd</div>
            <div class="exp-project">Cyber Security in SCADA and IOT(JAVA)</div>
            <div class="exp-details">
                Analyzing Malicious Data to identify inefficiencies and risks in project
                Updating Project Parameters on a consistent basis and conveying them to
                the management
            </div>
        </div>
    </div>
    <div class="experience-details">
        <div class="timeline-container" #timelineContainer>
            <span #startMonth>Jun'21</span>
            <div class="ends top" #topEnd></div>
            <div class="timeline" #timelinePipe></div>
            <div class="ends bottom" #bottomEnd></div>
            <span #endMonth>Jul'21</span>
        </div>
        <div class="experience bottom">
            <div class="exp-title">Cyber Security Intern</div>
            <div class="exp-company">Renovision Automation Services</div>
            <div class="exp-project">Cyber security in Automation Services(JAVA)</div>
            <div class="exp-details">
                Analyzing Malicious Data to identify inefficiencies and risks in project.
                Coordinating with Client, Architect and Senior Management for Requirement
                Gathering and Quality checks.
            </div>
        </div>
    </div>
    <div class="experience-details">
        <div class="timeline-container" #timelineContainer>
            <span #startMonth>Jan'22</span>
            <div class="ends top" #topEnd></div>
            <div class="timeline" #timelinePipe></div>
            <!-- <div class="experienceDetails"></div> -->
            <div class="ends bottom" #bottomEnd></div>
            <span #endMonth>May'22</span>
        </div>
        <div class="experience top">
            <div class="exp-title">Java Developer Intern</div>
            <div class="exp-company">Hitachi India Pvt Ltd</div>
            <div class="exp-project">Security Threat Modelling of Industrial Network(JAVA)</div>
            <div class="exp-details">
                Updating Project Parameters on a consistent basis and conveying them
                to the management.
                Developed, Improved and Operated Web-Based Software.
            </div>
        </div>
    </div>
    <div class="experience-details">
        <div class="timeline-container" #timelineContainer>
            <span #startMonth>Jun'22</span>
            <div class="ends top" #topEnd></div>
            <div class="timeline" #timelinePipe></div>
            <div class="ends bottom" #bottomEnd></div>
            <span #endMonth>Oct'23</span>
        </div>
        <div class="experience bottom">
            <div class="exp-title">Software Engineer</div>
            <div class="exp-company">Askme Technologies</div>
            <div class="exp-details">
                Developed, Improved and Operated Web-Based Software.
                Designing and Development of Projects using Java, JavaScript, Python, Data
                Structures, React and Nodejs.
            </div>
        </div>
    </div>
    <div class="experience-details">
        <div class="timeline-container" #timelineContainer>
            <span #startMonth>Nov'23</span>
            <div class="ends top" #topEnd></div>
            <div class="timeline" #timelinePipe></div>
            <div class="ends bottom" #bottomEnd></div>
            <span #endMonth>Present</span>
        </div>
        <div class="experience middle">
            <div class="exp-title">Software Development Engineer in Test</div>
            <div class="exp-company">Coforge Ltd</div>
            <div class="exp-details">
                Enhanced Efficiency, Quality Data, Scope and Flexibility of Applications and Websites.
                Developed and Automated Test Cases in Java using Selenium.
            </div>
        </div>
    </div>
</article>