<article class="main-container">
    <div class='title'>Smokedetector using JAVA</div>
    <div class="description">
        A simple JAVA based device which can be used by the traffic constables to
        rectify a person who is driving is Drunk or not. It will detect through the
        smell of the mouth. It will indicate by giving the Number Readings. If the
        number reading exceeds 60, then the person is Drunk, otherwise fine.
    </div>
    <div class="title">Need of Cybersecurity in Scada and IOT</div>
    <div class="description">
        This was the project with Collaboration with Hitachi India Private Ltd in which I had a hands-on experience
        working with the PLC Scada and IOT. Using IOT we designed a device which identified that at the time of rain,
        when the roads are flooded with the water, it used to give us the value that how much is the level of water and
        in the drainage system nearby how much water can it hold. In this project I had a good understanding first the
        PLC Scada Network and the Automation Testing. We completed this project in 3 Months.
    </div>
    <div class="title">Secruity Threat Modelling of Industrial Network</div>
    <div class="description">
        This was the project with Collaboration with Hitachi India Private Ltd in which I had a hands-on experience
        working with the SOC Team. In this project we with PLC Scada and IOT. We made an algorithm which we installed in
        our Server which used to track all the malicious activity inside the environment. We used Java as our coding
        language and the SOC Team used to filter the activities and identify which of the activities are malicious. This
        was a 6 months Project which I completed.
    </div>
</article>