<app-section-page>
    <img leftSection src="assets/sannskar_img.jpg" [alt]="portfolio_alt_text" class="image" #profileImage>
    <div rightSection #detailsBlock>
        <div class="name" #name>Sannskar Gupta</div>
        <div class="connect-info" #emailID>
            <i class="fa fa-sharp fa-solid fa-envelope"></i>
            sannskarguptaapril&#64;gmail.com
        </div>
        <div class="connect-info" #linkedInID>
            <i class="fa fa-brands fa-linkedin"></i>
            www.linkedin.com/in/sannskar-gupta
        </div>
        <div class="connect-info" #instagramID>
            <i class="fa fa-brands fa-instagram"></i>
            sannskar_gupta
        </div>
    </div>
</app-section-page>