<app-section-page>
    <img leftSection src="assets/sannskar_img.jpg" alt="Portfolio Image" class="image" #profileImage>
    <div rightSection #detailsBlock>
        <h2 #name>Sannskar Gupta</h2>
        <h6 #emailID>
            <i class="fa fa-sharp fa-solid fa-envelope"></i>
            sannskarguptaapril&#64;gmail.com
        </h6>
        <h6 #linkedInID>
            <i class="fa fa-brands fa-linkedin"></i>
            www.linkedin.com/in/sannskar-gupta
        </h6>
        <h6 #instagramID>
            <i class="fa fa-brands fa-instagram"></i>
            sannskar_gupta
        </h6>
    </div>
</app-section-page>