/* CSS for the profile image */
.image {
    max-width: 65%;
    max-height: 70%;
    float: right;
}

.name {
    font-size: 200%;
    font-style: italic;
}

.connect-info {
    font-size: 100%;
}

@media only screen and (max-width:600px) {
    .image {
        max-width: 70%;
        max-height: 95%;
        float: left;
    }
}