<nav class="nav" #navMenu>
  <button class="nav-button">Highlights</button>
  <ul *ngIf="showNavMenu">
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':homeTabActive}" (click)="scrollToTab(Home)"
        #homeNavBtn>Home</button></li>
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':experienceTabActive}" (click)="scrollToTab(Experience)"
        #experienceNavBtn>Experience</button></li>
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':educationTechnicalSkillsTabActive}"
        (click)="scrollToTab(EducationAndTechnicalSkills)" #educationAndTechnicalSkillsNavBtn>Education & Technical
        Skills</button></li>
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':projectsTabActive}" (click)="scrollToTab(Projects)"
        #projectsNavBtn>Projects</button></li>
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':interestLanguagesTabActive}"
        (click)="scrollToTab(InterestsAndLanguages)" #interestsAndLanguagesNavBtn>Interests &
        Languages Known</button></li>
    <li><button class="nav-btn" [ngClass]="{'nav-btn-active':connectWithMeTabActive}" (click)="scrollToTab(Connect)"
        #connectWithMeNavBtn>Connect With Me</button></li>
  </ul>
</nav>
<main class="main-container" #mainContainer>
  <section id="Home" #Home (wheel)="onScroll(Home)">
    <app-intro></app-intro>
  </section>
  <section id="Experience" #Experience (wheel)="onScroll(Experience)">
    <app-title-text>Experience</app-title-text>
    <app-experience></app-experience>
  </section>
  <section id="EducationAndTechnicalSkills" #EducationAndTechnicalSkills
    (wheel)="onScroll(EducationAndTechnicalSkills)">
    <app-education-technical-skills></app-education-technical-skills>
  </section>
  <section id="Projects" #Projects (wheel)="onScroll(Projects)">
    <app-title-text>Projects</app-title-text>
    <app-projects></app-projects>
  </section>
  <section id="InterestAndLanguages" #InterestsAndLanguages (wheel)="onScroll(InterestsAndLanguages)">
    <app-interests-languages></app-interests-languages>
  </section>
  <section id="ConnectWithMe" #Connect (wheel)="onScroll(Connect)">
    <app-title-text>Connect With Me</app-title-text>
    <app-connect-with-me></app-connect-with-me>
  </section>
</main>