/* CSS for the navbar */
.nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    font-size: 0.8rem;
}

.nav-button {
    background: none;
    border: none;
    display: none;
}

.nav ul {
    border-bottom: 0.08rem solid var(--nav-basic);
    padding: 0 0.5rem;
    margin: 0;
}

.nav ul>li {
    display: inline-block;
    padding: 0.2rem 0;
    margin: 0.4rem 0;
    border-right: 0.03rem solid var(--nav-basic);
}

.nav ul>li:last-child {
    border-right: none;
}

/* CSS for the navbar buttons */
.nav-btn {
    background-color: inherit;
    border: none;
    color: var(--nav-basic);
}

.nav-btn-active {
    color: var(--nav-active);
}

.nav-btn:hover {
    color: var(--nav-active);
}

/* CSS for the main container */
.main-container {
    height: 100%;
}

/* CSS for the sections */
.main-container section {
    display: block;
    height: 100vh;
    text-wrap: wrap;
    word-wrap: break-word;
    padding: 3.5rem;

}

.main-container section:nth-child(odd) {
    background-color: var(--main-container-odd-background);
    color: var(--main-container-odd-font);
}

.main-container section:nth-child(even) {
    background-color: var(--main-container-even-background);
    color: var(--main-container-even-font);
}

/* CSS for the section header */
title-text {
    margin-top: 1rem;
}

/* CSS for mobile phones */
@media only screen and (max-width:600px) {
    .nav {
        justify-content: start;
    }

    .nav-btn {
        display: block;
    }

    .nav ul {
        display: none;
        height: fit-content;
        list-style-type: none;
    }

    .main-container section {
        height: 100vh;
    }
}