<app-section-page>
    <div leftSection>
        <app-title-text>Interests</app-title-text>
        <ul class="info-list" #listOfInterests>
            <li>Music</li>
            <li>Solving Puzzles</li>
            <li>Watching Movies and Series</li>
        </ul>
    </div>
    <div rightSection>
        <app-title-text>Languages Known</app-title-text>
        <ul class="info-list" #listOfLanguagesKnown>
            <li>English (Fluent)</li>
            <li>Hindi (Native)</li>
        </ul>
    </div>
</app-section-page>
