.info-list {
    margin: 2.5rem 0;
    width: 100%;
    display: block;
    height: 5.5rem;
}

.info-list li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

@media only screen and (max-width:600px) {
    .info-list {
        height: fit-content;
        margin-bottom: 1.5rem;
    }
}