.technical-skills-container {
    display: flex;
    justify-content: center;
}

.info-list {
    margin: 2.5rem 0;
    width: 100%;

    &.education {
        list-style-type: none;
    }

    &.technical-skills {
        list-style-type: disc;
        font-size: 1rem;
    }
}

.info-list li {
    margin: 1rem 0;
}

.degree {
    font-size: 1.3rem;
}

.timeline {
    float: right;
}

.institute-timeline {
    font-size: 1rem;
    color: var(--education-sub-header);
}

@media only screen and (max-width:600px) {

    .info-list {
        margin: 1.2rem 0;

        &.education {
            padding: 0;
        }

    }
}