<app-section-page>
    <div leftSection>
        <app-title-text>Education</app-title-text>
        <ul class="info-list education">
            <li>
                <div class="degree">
                    B.Tech(Computer Science Engineering)
                </div>
                <div class="institute-timeline">
                    <span class="institute-name">Manav Rachna University</span>
                    <span class="timeline">2022</span>
                </div>
            </li>
            <li>
                <div class="degree">
                    Class XII(CBSE)
                </div>
                <div class="institute-timeline">
                    <span class="institute-name">DAV Public School</span>
                    <span class="timeline">2018</span>
                </div>
            </li>
            <li>
                <div class="degree">
                    Class X(CBSE)
                </div>
                <div class="institute-timeline">
                    <span class="institute-name">DAV Public School</span>
                    <span class="timeline">2016</span>
                </div>
            </li>
        </ul>
    </div>
    <div rightSection>
        <app-title-text>Technical Skills</app-title-text>
        <div class="technical-skills-container">
            <ul class="info-list technical-skills">
                <li>C</li>
                <li>Java</li>
                <li>OOPS</li>
                <li>DBMS</li>
            </ul>
            <ul class="info-list technical-skills">
                <li>Jira</li>
                <li>Selenium</li>
                <li>TestNG</li>
                <li>Cucumber</li>
            </ul>
        </div>
    </div>
</app-section-page>